*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Monteserrat', sans-serif;
}

header {
    background-color: #000000;
    padding: 40px 0;

    display: flex;
    color: #00e0ff;
}

header a{
    text-decoration: none;
    color: #00e0ff;
    transition: 0.2s ease-in-out;
    font-size: 2.8em;
    font-weight: 700;
    margin-left: 40px;
}
header a:hover {
    color: #fff;
    transition: 0.2s ease-in-out;
}

header h2 {
    font-size: 2.8em;
    font-weight: 700;
    cursor: pointer;
    margin-right: 40px;
    margin-left: 790px;
}
header h2:hover {
    color: #fff;
    transition: 0.2s ease-in-out;
}
#contato {
    padding: 270px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    background-color: rgb(29, 28, 28);
    color: #fff;
}

#contato ul {
    font-size: 1.4em;
    margin-bottom: 40px;
    list-style: none;
}

#contato a{
    text-decoration: none;

    color: #00e0ff;
    transition: 0.2s ease-in-out;
}
#contato a:hover {
    color: #fff;
    transition: 0.2s ease-in-out;
}

footer {
    background-color: #000000;
    padding: 31px 0;
    text-align: center;
    color: #ffffff;
    font-size: 1.2em;
}