* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Monteserrat', sans-serif;
}

body {
    width: 100%;
    height: 100vh;

    background-color: #000;
    color: #fff;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

a {
    text-decoration: none;
    color: #fff;
    transition: 0.2s ease-in-out;
}

header {
    background-color: #211e1e;
    padding: 40px 0;

    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

header h1 {
    font-size: 2.8em;
    font-weight: 700;
    cursor: pointer;

    color: #00e0ff;
}

header h1:hover {
    color: #fff;
    transition: 0.2s ease-in-out;
}

nav ul {
    list-style: none;

    display: flex;
    flex-direction: row;
    gap: 40px;
    margin-left: 7%;
    font-size: 1.2em;
    justify-content: space-around;
    color: #00e0ff
}
a{
    color: #00e0ff;
}

nav ul li a:hover {
    color: #fff;
    transition: 0.2s ease-in-out;
}

#sobre {
    padding: 80px 0;
    text-align: center;
    display: flex;
    flex-direction: column;
}
#sobre h2 {
    font-size: 2.5em;
    margin-bottom: 25px;
}

#sobre p {
    width: 60%;
    margin: 0 auto;
    font-size: 1.2em;
    line-height: 1.8em;
}

.imagem {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    margin-left: 80%;
}

footer {
    background-color: #211e1e;
    text-align: center;
    padding: 20px 0;
}